p {
    font-size: 36px;
    color: #F2A62C;
    margin: 0;
  }

  .timer{
      background-color: #0A1138;
      padding: 2rem;
      border-radius: 22;
  }

h1{
    color: #D44529;
    font-size: 4rem;
}
