.card {
	height: 22rem;
	max-width: 20rem;
	min-width: 15rem;
	padding: 3rem;
	margin-bottom: 20px;
	background-color: #0a1138;
	border-radius: 22px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.card:hover {
	background-color: #080d2c;
}

.card-title {
	font-size: 1rem;
	color: rgb(242, 166, 38);
	margin-top: 10px;
}