.all {
    height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.all-inner {
    background-image: url("../../assets/LandingPage/background.svg");
    background-repeat: repeat-x;
    height: calc(100vh - 120px);
    width: 507600px;
    position: absolute;
    animation: slide 120s linear infinite;
    z-index: -1000;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

.core-div {
    color: white;
    font-size: 3rem;
}

.content {
    color: white;
    font-size: 1rem;
    width: 85%;
}

.register {
    border: 0px;
    font-size: 0.8rem;
    color: #f2a62c;
    background-color: #0a1138;
    height: 2.5rem;
    width: 7rem;
    border-radius: 0.5rem;
}

.register:hover {
    color: #f2a62c;
    background-color: #0b0f29;
}

.middle {
    height: 70%
}

.recruiting {
    color: #f2a62c;
    height: 100%;
    width: 60%;
}

.bottom-right {
    position: absolute;
    right: 5%;
    bottom: 10%;
    height: 30%;
}

@media only screen and (max-width: 813px) {
    .bottom-right {
        display: none;
    }
    .core-div {
        text-align: center !important;
    }
    .recruiting {
        width: 90%;
        text-align: center !important;
    }
    .content {
        margin: auto;
    }
}

@media only screen and (max-width: 569px) {
    html,
    body {
        font-size: 8px !important;
    }
    .csi-logo {
        width: 30vw;
    }
}