
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.domains{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #FFFAFF;
    margin-top: 1rem;
}

.cards{
    width: 100%;
    padding: 0.5rem;
}