html {
    font-size: 16px;
    height: 100vh;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #18204F;
}

#root {
    position: relative;
    overflow: hidden;
    user-select: none;
    height: 100vh;
    width: 100vw;
}

.navbar-div,
.footer-div {
    height: 60px;
    width: 100%;
    background-color: #0a1138;
}

.bg-div {
    background-image: url('./assets/LandingPage/background.svg');
    background-repeat: repeat-x;
    opacity: 0.3;
    height: 100%;
    width: 507600px;
    position: absolute;
    animation: slide 120s linear infinite;
    z-index: -1000;
}

.red {
    color: #f2a62c;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-1000rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media only screen and (min-width: 1920px) {
    html,
    body {
        font-size: 22px;
    }
}

@media (max-width: 813px) {
    html,
    body {
        font-size: 12px;
    }
}


/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 165, 0, 0.5) transparent;
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 165, 0, 0.5);
    border-radius: 2000px;
    border: 3px solid transparent;
}